<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <%= link_to "Strona główna", root_path %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "Skontaktuj się z nami!", "#" %>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <%= link_to "O nas", "#" %>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Marcin Rzepiel, Marcin Starmach, Bartek Gładys, Adrian Mróz</p>
            </div>
        </div>
    </div>
</footer>
